[submodule "Booki"]
	path = Booki
	url = https://github.com/ChristopherVrel/Booki
[submodule "Ohmyfood"]
	path = Ohmyfood
	url = https://github.com/ChristopherVrel/Ohmyfood
[submodule "GameOn-website-FR"]
	path = GameOn-website-FR
	url = https://github.com/ChristopherVrel/GameOn-website-FR
[submodule "Fisheye"]
	path = Fisheye
	url = https://github.com/ChristopherVrel/Fisheye
